* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 0 30px;
}

nav>h3 {
    font-family: 'gilroy';
    font-weight: 400;
    font-size: 22px;
}

nav>button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    border: none;
}

#main {
    position: relative;
    overflow: hidden;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

#loop {
    position: absolute;
    top: 30%;
    display: flex;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: 'gilroy';
}

#loop>h1 {
    font-weight: 400;
    animation-name: h1-animation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loop>h1>span {
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}

@keyframes h1-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

canvas {
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}

#page2 {
    height: 100vh;
    width: 100vw;
    background-color: plum;
}

#page3 {
    height: 100vh;
    width: 100vw;
    background-color: burlywood;
}

#page4 {
    height: 100vh;
    width: 100vw;
    background-color: palegreen;
}